{
  "development": {
    "username": "username",
    "password": "password",
    "database": "database",
    "host": "host",
    "dialect": "postgres"
  },
  "test": {
    "username": "username",
    "password": "password",
    "database": "database",
    "host": "host",
    "dialect": "postgres"
  },
  "production": {
    "use_env_variable": "DATABASE_URL"
  }
}